---
layout: layout.html
---

{% for page in collections.all %}{% if page.url == "/blog/" %}
<div class="preview-section">
  <div class="preview-fade">{{ page.templateContent }}</div>
  <a class="see-more" href="/blog/">see more</a>
</div>
{% endif %}{% endfor %}

{% for page in collections.all %}{% if page.url == "/projects/" %}
<div class="preview-section">
  <div class="preview-fade preview-short">{{ page.templateContent }}</div>
  <a class="see-more" href="/projects/">see more</a>
</div>
{% endif %}{% endfor %}

{% for page in collections.all %}{% if page.url == "/gallery/" %}
<div class="preview-section">
  <div class="preview-fade">{{ page.templateContent }}</div>
  <a class="see-more" href="/gallery/">see more</a>
</div>
{% endif %}{% endfor %}

{% for page in collections.all %}{% if page.url == "/links/" %}
<div class="preview-section">
  <div class="preview-fade">{{ page.templateContent }}</div>
  <a class="see-more" href="/links/">see more</a>
</div>
{% endif %}{% endfor %}
