<div class="card">
  <h3>Todo</h3>
  <ul class="todo-list">
    <li><input type="checkbox" disabled> Make site stats compute automatically</li>
    <li><input type="checkbox" disabled> Make webring functional</li>
    <li><input type="checkbox" disabled> Add Blog Posts</li>
    <li><input type="checkbox" disabled checked> Start to add links to link page and collect cool pages/blog posts</li>
    <li><input type="checkbox" disabled checked> Rewrite my about page</li>
    <li><input type="checkbox" disabled checked> Add gallery and populate</li>
    <li><input type="checkbox" disabled> Add Almanach entries</li>
    <li><input type="checkbox" disabled> Add Projects</li>
    <li><input type="checkbox" disabled> Make tags work</li>
    <li><input type="checkbox" disabled> Add more blinky stuff</li>
    <li><input type="checkbox" disabled> Add gifs!!!</li>
    <li><input type="checkbox" disabled checked> publish it</li>
  </ul>
</div>
